* {
    color:#24245E;
    font-family: helvetica, arial, sans-serif;
    text-align: center;
}

h1 {
    color:#381874;
    font-size: 28px;
    margin-bottom: 20px;
}

body {
    background-color: #7979BC;
    background-image:url(files/ttt_stars_background.svg);
    background-repeat: no-repeat;
}

button {
    background-color: #482a80;
    border: outset;
    border-color: #51515f;
    border-radius: 6px;
    color:#CAC7FE;
    font-size: 19px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
}

input {
    background-color: #E8E5FC;
    border: inset;
    border-radius: 6px;
}

#gameboard {
    border:solid;
    border-color: #24245E;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 400px;
    margin: auto;
    width: 400px;
}

.game-box {
    background-color: #CAC7FE;
    border: solid;
    border-color: #24245E;
    font-size: 100px;
    text-align: center;
}

#game-messages {
    color: #E8E5FC;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

#player-form {
    font-size: 18px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    margin: auto;
    width: 50%;
    grid-template-areas:
        "input input"
        "button button";
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap; */
}

.congrats {
    font-size: 30px;
}

.hidden {
    display:none
}

#start-btn {
    grid-column-start: 1;
    grid-column-end: 3;
}
