* {
    color:#24245E;
    font-family: helvetica, arial, sans-serif;
    text-align: center;
}

body {
    background-color: #7979BC;
    background-image:url(files/ttt_stars_background.svg);
    background-repeat: no-repeat;
    background-size: 90%;
}

button {
    background-color: #482a80;
    border: outset;
    border-color: #51515f;
    border-radius: 6px;
    color:#CAC7FE;
    font-size: 19px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    width: 150px;
}

input {
    background-color: #E8E5FC;
    border: inset;
    border-radius: 6px;
}

table {
    color: #E8E5FC;
    font-weight: bold;
    font-size: 20px;
    width: 300px;
}

.congrats {
    font-size: 30px;
}

.game-box {
    background-color: #CAC7FE;
    border: solid;
    border-color: #24245E;
    font-size: 100px;
    text-align: center;
}

.hidden {
    display:none !important;
}

.scoreboard-item {
    background:#E8E5FC;
    border:solid;
    border-color:#7979BC;
    border-radius: 5px;
    border-width: 2px;
    color:#0e90a7;
    padding: 2px;
    text-align: center;
}

#board-btns {
    left: 50%;
    position: absolute;
    text-align: center;
    bottom: 5%;
    transform: translate(-50%, 0);
}

#game-messages {
    color: #E8E5FC;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 50%;
}

#gameboard {
    border: solid;
    border-color: #24245E;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 400px;
    left:50%;
    position:absolute;
    top: 50%;
    width: 400px;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); 
}

#main-container {
    height: 400px;
    left:50%;
    margin: auto;
    position:absolute;
    top: 60%;
    width: 700px;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); 
}

#player-form {
    display: grid;
    font-size: 18px;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    margin: auto;
    width: 600px;
}

#scoreboard {
    border: solid;
    border-color:#7979BC;
    border-radius: 5px;
    border-width: 2px;
    color: #E8E5FC;
    display: grid;
    float: right;
    font-size: 20px;
    font-weight: bold;
    grid-gap: 4px;
    width:auto;
}

#start-btn {
    grid-column-end: 3;
    grid-column-start: 1;
    margin-top: 10px;
}

#title-img {
    margin-top: 10px;
    width: 500px;
}
