#gameboard {
    border:solid;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 450px;
    width: 450px;
}

.game-box {
    border: solid;
    font-size: 100px;
    text-align: center;
    /* height: 33%;
    width: 33%; */
}